name: Build and Test ebuildtester

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        include:
          - os: ubuntu-22.04
            python-version: 3.8
          - os: ubuntu-22.04
            python-version: 3.9
          - os: ubuntu-22.04
            python-version: '3.10'
          - os: ubuntu-22.04
            python-version: '3.11'
          - os: ubuntu-22.04
            python-version: '3.12'
    runs-on: ${{ matrix.os }}
    name: Python ${{ matrix.os }} / ${{ matrix.python-version }} build
    steps:

    - name: Get tox environment
      run: |
        tox_environment="py${python_version/./}"
        echo "tox_environment=${tox_environment}" >> $GITHUB_ENV
      env:
        python_version: ${{ matrix.python-version }}

    - name: Check out sources
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install tox
      run: sudo apt install --yes tox

    - name: Build and test
      run: tox -e ${{ env.tox_environment }}

    - name: Archive test results
      uses: actions/upload-artifact@v4
      with:
        name: test log (${{ env.tox_environment }})
        path: .tox/${{ env.tox_environment }}/log
      if: failure()

    - name: Bandit
      run: tox -e bandit
      if: ${{ matrix.python-version == '3.10' }}

    - name: Archive bandit results
      uses: actions/upload-artifact@v4
      with:
        name: bandit log
        path: .tox/bandit/log
      if: ${{ matrix.python-version == '3.10' && failure() }}

    - name: Pep8
      run: tox -e pep8
      if: ${{ matrix.python-version == '3.10' }}

    - name: Build docs
      run: tox -e docs
      if: ${{ matrix.python-version == '3.10' }}

    - name: Test PyPi Package
      run: tox -e pypi
      if: ${{ matrix.python-version == '3.10' }}
