name: Build and Test ebuildtester

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:

  build:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: true
      matrix:
        python-version: ['3.8', '3.9', '3.10']
    name: Python ${{ matrix.python-version }} build
    steps:

    - name: Get tox environment
      run: |
        tox_environment="py${python_version/./}"
        echo "tox_environment=${tox_environment}" >> $GITHUB_ENV
      env:
        python_version: ${{ matrix.python-version }}

    - name: Check out sources
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install tox
      run: sudo apt install --yes tox

    - name: Test
      run: tox -e ${{ env.tox_environment }}

    - name: Archive test results
      uses: actions/upload-artifact@v2
      with:
        name: test log (${{ env.tox_environment }})
        path: .tox/${{ env.tox_environment }}/log
      if: failure()

    - name: Bandit
      run: tox -e bandit
      if: ${{ matrix.python-version == '3.10' }}

    - name: Archive bandit results
      uses: actions/upload-artifact@v2
      with:
        name: bandit log
        path: .tox/bandit/log
      if: ${{ matrix.python-version == '3.10' && failure() }}

    - name: Pep8
      run: tox -e pep8
      if: ${{ matrix.python-version == '3.10' }}

    - name: Build docs
      run: tox -e docs
      if: ${{ matrix.python-version == '3.10' }}
